/* *********** Layout ************ */

body{
    background-color: bisque;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: red;
    font-size: 72px;
    text-transform: uppercase;
}
p{
    font-size: 40px;
    font-style: italic;
}
ul{
    color: blue;
}